body {
    box-sizing: border-box;
    background-color: hsla(0, 36%, 70%, 15%);
    margin: 0;

    display: flex;
    justify-content: center;

    font-family: 'Josefin Sans', 'Times New Roman', Times, serif;
    font-size: 16px;
}

.apparel {
    border: 1px solid red;

    display: flex;
    flex-direction: column;

    width: 375px;
    height: 800px;
}

.logo {
    width: 100px;
    margin: 25px;
    margin-bottom: 35px;
}

.apparel__content {
    border: 1px solid red;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.apparel__img {
    margin-bottom: 50px;
}

.apparel__header {
    border: 1px solid red;

    text-align: center;
    font-size: 40px;
    line-height: 40px;

    color: hsla(0, 0%, 0%, 80%);
}

.apparel__headerSubText {
    color: hsl(0, 36%, 70%);
    font-weight: lighter;
}

.apparel__text {
    border: 1px solid red;

    color: hsl(0, 36%, 70%);
}

.email {
    border: 1px solid red;

    display: flex;
}

.email__text {
    border: 1px solid red;

    color: hsl(0, 36%, 70%);
    font-weight: lighter;
}

.email__button {
    border: 1px solid red;
}