body {
    box-sizing: border-box;
    background: linear-gradient(hsl(0, 0%, 100%), 25%, hsla(0, 36%, 70%, 15%));
    
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;

    font-family: 'Josefin Sans', 'Times New Roman', Times, serif;
    font-size: 16px;
}

.apparel {
    border: 1px solid red;
    width: 375px;
    height: 800px;
}

.logo {
    width: 100px;
    margin: 25px;
}

.apparel__content {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin: 0px 18px;
}

.apparel__img {
    margin-bottom: 60px;
}

.apparel__header {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 12px;

    color: hsla(0, 0%, 0%, 80%);
}

.apparel__headerSubText {
    color: hsl(0, 36%, 70%);
    font-weight: lighter;
}

.apparel__text {
    color: hsl(0, 36%, 70%);
    text-align: center;

    line-height: 25px;

    margin-top: 20px;
    margin-bottom: 30px;
}

.email {
    border: 1px solid hsl(0, 36%, 70%);
    border-radius: 30px;

    display: flex;
    align-items: center;
}

.email__text {
    background-color: hsla(0, 36%, 70%, 0%);
    color: hsla(0, 36%, 70%, 50%);
    font-weight: lighter;

    outline: none;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    padding: 15px;
    margin-left: 10px;
    
    width: 205px;
}

::placeholder {
    color: hsla(0, 36%, 70%, 50%);
}

.email__error {
    width: 25px;

    margin-right: 10px;
}

.email__buttonArrow {
    display: block;
    border-radius: 30px;
    
    margin: auto;
    padding: 15px 25px 15px 30px;

    background: linear-gradient(to bottom right,hsla(0, 93%, 68%, 25%), 25%, hsla(0, 93%, 68%, 75%));
    box-shadow: 0px 10px 15px hsla(0, 93%, 68%, 25%);
}

.email__errorMessage {
    color: hsla(0, 93%, 68%, 75%);

    width: 290px;
    padding: 10px;

    font-size: 12px;
}